html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Helvetica;
    background-image: url("backgroundcontact.jpg")
}

a {
    color: rgb(203, 221, 154);
}

header{
    background: rgb(100,80,20);
    padding: 00px;
    color: rgb(70, 27, 27);
    text-align: center;
}

h1{
    padding: 25px;
    text-align: center;
    color: #fff;
    margin: 30px;
    background-color: #000;
}




h2{
    text-align: center;
    color: #fff;
    display: block;
    background-color: red;
    padding: 25px;
    font-style: italic;
}

head{
    padding: 25px;
    color: #222;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: block;
    padding: 10px;
    font-size: 18px;
    text-align: right;
    margin-right: 100px;
}

section{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    min-height: 800px;
}

footer{
    padding: 15px;
    background: grey;
    text-align: center;
}